body {
  font-family: 'Poppins';
  margin: 0;
  background: black;
  color: white;
}

.hero {
  background: url('https://images.unsplash.com/photo-1503951914875-452162b0f3f1') center/cover;
  padding: 120px;
  text-align: center;
}

.btn {
  background: gold;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  border-radius: 20px;
}

.gallery {
  display: flex;
  gap: 10px;
  padding: 20px;
}

.gallery img {
  width: 33%;
  border-radius: 10px;
  transition: 0.3s;
}

.gallery img:hover {
  transform: scale(1.05);
}
